# Capstone Project--The Battle of Neighborhoods

## Table of Contents
* [Introduction (and Business Problem)](#introduction)
* [Data](#data)

## Introduction (and Business Problem) <a name="introduction"></a>

**Pittsburgh, PA** is the city I am currently living in. I've been here for almost two years and it is generally a good place to live. There is a variety of restaurants around the city but how are they distributed among different areas? What if I want to find a restaurant of a specific type, where should I go? If I want to open a new restaurant, which kind of it should I choose for each location? These kinds of problems would be anwsered in this project by using data science techniques, specifically clustering, and other methods. Be prepared, and start the gourmet adventure of three rivers!

## Data <a name="data"></a>

In this preject, we need different geo-spatial information about Pittsburgh.  

First, we need **zip codes and their coordinates of Pittsburgh neighborhoods**. This can be obtained from some internet sources. For this project, I am using the data from *US Zip Code Latitude and Longitude* [https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/table/], specifically the data of Pennsylvania and do some data cleaning to get the data we need.   

Next, we need **restrant information of each neighborhood**, using Foursquare API. Using this data, we can cluster the neighborhoods and find the pattern of different kinds of restaurants in each neighborhood.

### Import the coordinate data of Pennsylvania

In [3]:
import pandas as pd
penn_data = pd.read_csv('us-zip-code-latitude-and-longitude.csv')
penn_data.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,Latitude.1,Longitude.1
0,17932,Frackville,PA,40.649109,-76.503339,-5,1,40.649109,-76.503339
1,18947,Pipersville,PA,40.426391,-75.118420,-5,1,40.426391,-75.118420
2,15278,Pittsburgh,PA,40.434436,-80.024817,-5,1,40.434436,-80.024817
3,15482,Star Junction,PA,40.062849,-79.763380,-5,1,40.062849,-79.763380
4,15227,Pittsburgh,PA,40.377869,-79.975160,-5,1,40.377869,-79.975160

### Drop the irrelevant columns

In [4]:
penn_data.drop(['State', 'Timezone', 'Daylight savings time flag', 'Latitude.1', 'Longitude.1'], 
               axis=1, inplace=True)
penn_data.head()

     Zip           City   Latitude  Longitude
0  17932     Frackville  40.649109 -76.503339
1  18947    Pipersville  40.426391 -75.118420
2  15278     Pittsburgh  40.434436 -80.024817
3  15482  Star Junction  40.062849 -79.763380
4  15227     Pittsburgh  40.377869 -79.975160

### Get the zipcodes of Pittsburgh

In [11]:
pitt_data = penn_data[penn_data['City'].astype(str).str.contains('Pittsburgh')].reset_index(drop=True)
pitt_data.head()

     Zip        City   Latitude  Longitude
0  15278  Pittsburgh  40.434436 -80.024817
1  15227  Pittsburgh  40.377869 -79.975160
2  15238  Pittsburgh  40.518701 -79.867440
3  15242  Pittsburgh  40.434436 -80.024817
4  15236  Pittsburgh  40.342869 -79.979290

In [12]:
pitt_data.shape

(79, 4)